body {
    margin: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    width: 100%;
    overflow: hidden;
}

.header__block-row {
    min-width: 100%;
    display: flex;
}

.block__logo {
    background-color: #F9FBFF;
    width: 25%;
    position: relative;
}

.logo {
    padding: 75px 0px 0px 0px;
    text-align: center;
}

.img__logo {
    width: 50%;
}

.block__logo-title {
    position: absolute;
    top: 50%;
    left: 30%;
}

.logo__title {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 70px;
    z-index: 3;
    color: #415167;
}

.span__logo-title {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
    background-color: #C7A17A;
    color: #fff;
}

.block__video {
    position: relative;
    width: 50%;
}

.video__btn-block {
    position: absolute;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    top: 45%;
    left: 45%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__btn {
    position: absolute;
    left: 40%;
    border: 16px solid transparent;
    border-left: 20px solid #C7A17A;
}

.video__img {
    width: 100%;
    z-index: 0;
}

.block__menu {
    font-family: 'Nunito Sans', sans-serif;
    width: 25%;
    background-color: #415167;
    padding-left: 4%;
    color: #fff;
}

.header__bin-image {
    padding: 75px 0px 80px 0px;
}

.bin__image {
    width: 20%;
}

.header__menu-title {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 38px;
}

.menu__list {
    padding: 0;
}

.menu__text {
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 18px;
    color: #fff;
}

.menu__text:last-child {
    padding-bottom: 0px;
}


/* MAIN */


.main {
    width: 100%;
}



/* main-description */

.main__description__container {
    width: 80%;
    margin: 0 auto;
    margin-top: 87px;
}

.description__subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #415167;
    padding: 0px 0px 9px 0px;
}

.description__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #415167;
}

.description__row {
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.description__last-subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #232C38;
    padding: 42px 0px 12px 0px;
}

.description__text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #151D28;
    padding: 0px 34px 0px 34px;
}


/* MAIN__SLIDER-BLOCK */


.main__slider__block {
    margin: 120px 0px 0px 0px;
    background: linear-gradient(to left, #F2F2F2 70%, #415167 30%);
    overflow: hidden;
}

.slider__subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #415167;
    padding: 50px 0px 9px 0px;
}

.slider__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #415167;
}

.slider__container-block {
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 72px;
    display: flex;
    width: 80%;
    margin-left: 20%;

}

.slider__container {
    width: 100%;
    margin-bottom: 120px;
}

.slider__block {
    display: flex;
    width: 559px;
    Height: 256px;
    margin: 0px 30px 32px 0px;
    background-color: #fff;
}

.slider__img-block {
    overflow: hidden;
    width: 50%;
}

.slider__img {
    width: 100%;
}

.slider__description-block {
    background-color: #fff;
    width: 60%;
}

.slider__price {
    font-size: 20px;
    font-weight: 600;
    color: #C7A17A;
    padding: 42px 0px 8px 42px;
}

.slider__block-title {
    font-size: 24px;
    font-weight: 700;
    color: #232C38;
    padding: 0px 0px 24px 42px;
}

.slider__block-subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #151D28;
    padding: 0px 0px 18px 42px;
}

.slider__catalog-row {
    display: flex;
    align-items: center;
}

.slider__btn-block {
    position: relative;
    width: 40%;
    margin: 0 auto;
    background-color: #C7A17A;
    border-radius: 20px;
    text-align: center;
}

.slider__btn {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #F9FBFF;
    margin: 12px 15px 12px 15px;

}

.slider__bin-block {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.slider__bin {
    font-size: 16px;
    font-weight: 700;
    color: #415167;

}

.slider__pagination-block {
    width: 68px;
    height: 68px;
    background-color: #C7A17A;
    border-radius: 50%;
    position: absolute;
    top: 34%;
    right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__pagination {
    margin-top: 7px;
}



/* MAIN__GIFTSET-BLOCK */



.main__giftset-block {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(to right, #EDF0F5 70%,
            #F9FBFF 30%);
    overflow: hidden;
}

.giftset__subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #415167;
    padding: 86px 0px 9px 0px;
}

.giftset__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #415167;
    padding: 0px 0px 66px 0px;
}

.giftset__slider-block {
    width: 95%;
    margin: 0 auto;
    display: flex;
    background: linear-gradient(to left, #F9FBFF 80%,
            #EDF0F5 20%);
}

.giftset__img-block {
    margin: 64px 0px 64px 0px;
}

.giftset__head-block {
    width: 50%;
    margin: 64px 0px 64px 0px;
    padding-left: 4%;
    padding-right: 4%;
}

.head__price {
    font-size: 20px;
    font-weight: 600;
    color: #C7A17A;
    padding: 0px 0px 12px 0px;
}

.head__title {
    font-size: 24px;
    font-weight: 700;
    color: #232C38;
    padding: 0px 0px 12px 0px;

}

.head__subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #151D28;
    padding: 0px 0px 24px 0px;
}

.head__description__block {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 46px 0px;
}

.head__description {
    display: flex;
}

.head__desc-img {
    padding: 0px 12px 0px 0px;
}

.desc__img {
    width: 100%;
}

.desc__title {
    font-size: 16px;
    font-weight: 300;
}

.desc__subtitle {
    font-size: 16px;
    font-weight: 600;
}

.giftset__btn__price-block {
    display: flex;
    justify-content: space-around;
}

.giftset__btn-block {
    margin: 0 auto;
    background-color: #C7A17A;
    border-radius: 20px;
    text-align: center;
}

.giftset__btn {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 11px 32px;
}

.btn__bin-block {
    margin: 0 auto;
    text-align: center;
}


.btn__bin {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #415167;
    padding: 11px 32px;
}

.giftset__slider-pagination {
    width: 10%;
    height: 100%;
    display: block;
}

.giftset__pagination-block {
    height: 154px;
    display: block;
    background-color: #EDF0F5;
    border-top: 0.3px solid #b9c3d8;
    border-left: 0.3px solid #b9c3d8;
    opacity: 0.6;
}

.giftset__pagination-block:first-child {
    background-color: #F9FBFF;
    border: 0.3px solid #b9c3d8;
    opacity: 1;
}

.giftset__pagination-title {
    font-family: 'Montserrat', sans-serif;
    displaY: block;
    padding: 65px 0px 55px 0px;
    text-align: center;
    color: #415167;
    font-size: 30px;
    font-weight: 900;
}


/* MAIN__COMBO-BLOCK */

.main__combo-block{
    background: linear-gradient(to right, 
    #F2F2F2  75%, #415167 25% );
    overflow: hidden;
}

.combo__subtitle{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #415167;
    padding: 86px 0px 9px 0px;
}

.combo__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #415167;
    padding: 0px 0px 66px 0px;
}

.combo__container{
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 189px;
}

.combo__block{
    width: 33.333%;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px 30px 0px 0px;
    background-color:#FFF;
}

.combo__block:nth-child(3){
    margin: 0px 0px 0px 0px;
}

.combo__img-block{
    width: 100%;
}

.combo__img{
    width: 100%;
}

.combo__price-block{
    display: flex;
    align-items: center;
    margin: 10% 0px 10px 10%;
}

.new__price{
font-size: 20px;
font-weight: 600;
color:#C7A17A;
padding-right: 15px;
}

.old__price{
    font-size: 16px;
    color:#415167;
    text-decoration: line-through;
    opacity: 0.6;

}

.combo__title-block{
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 10px 10%;
    color:#232C38;
}

.combo__subtitle-block{
    font-size: 16px;
    font-weight: 300;
    margin: 0px 10px 32px 10%;
    color:#151D28;
    flex: 1 1 auto;
}

.combo__btn-price-block{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10% 10%;
}

.combo__btn-block{
    margin: 0 auto;
    background-color: #C7A17A;
    border-radius: 20px;
    text-align: center;
}

.combo__btn{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 11px 32px;
}

.combo__bin-block{
    margin: 0 auto;
    text-align: center;
}

.combo__bin{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #415167;
    padding: 11px 32px;
}

.combo__pagination-block {
    width: 68px;
    height: 68px;
    background-color: #C7A17A;
    border-radius: 50%;
    position: absolute;
    top: 34%;
    right: -7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.combo__pagination {
    margin-top: 7px;
}















.footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF0F5;
}

.footer__title{
    display: block;
    font-size: 16px;
    font-weight: 100;
   color:#415167;
}
   